* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

header {
    letter-spacing: 1px;
    background: #2c3e50;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
}

header img {
    width: 15%;
    float: left;
    margin: 20px 5px 0 30px;
}

header h1 {
    font-size: 50px;
    padding: 100px 0 0 0;
}

header h3 {
    font-size: 20px;
    padding: 0 0 100px;
}

header h1,
header h3 {
    width: 90%;
    text-align: center;
}

header nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    border-spacing: 1em;
    margin: 0 0 0 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    line-height: 20%;
    /* margin: 0 0 0 25px; */
    padding: 25px 0 25px 30px;
}

nav a:hover {
    text-decoration: underline;
}

.main {
    background-color: #507daa;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.block_1 {
    display: flex;
    flex-direction: column;
    order: 1;
    max-width: 800px;
    background-color: rgb(199, 199, 199);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.block_1 h1 {
    text-shadow: 1px 1px;
    margin-bottom: 10px;
    text-align: center;
}

.block_1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 50px;
}

.block_1 li {
    list-style-type: square;
    margin-left: 20px;
    line-height: 25px;
}

.block_1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
}

.block_1 a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.block_1 a:hover {
    color: rgba(243, 94, 94, 0.795);
}

.block_1 p {
    font-size: large;
}

.img_links img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block_2 {
    display: flex;
    flex-direction: column;
    order: 2;
    max-width: 800px;
    background-color: rgb(199, 199, 199);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.block_2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
}

.block_2 a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.block_2 a:hover {
    color: rgba(243, 94, 94, 0.795);
}

.block_2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 50px;
}

.block_2 h1 {
    text-shadow: 1px 1px;
    margin-bottom: 10px;
    text-align: center;
}

.block_2 li {
    list-style-type: square;
    margin-left: 20px;
    line-height: 25px;
}

.block_3 {
    display: flex;
    flex-direction: column;
    order: 3;
    max-width: 800px;
    background-color: rgb(199, 199, 199);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.block_3 h1 {
    text-shadow: 1px 1px;
    margin-bottom: 10px;
    text-align: center;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c3e50;
    color: white;
}

.block_4 {
    display: flex;
    flex-direction: column;
    order: 4;
    max-width: 800px;
    background-color: rgb(199, 199, 199);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.block_4 h1 {
    text-shadow: 1px 1px;
    margin-bottom: 10px;
    text-align: center;
}

.block_4 form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.block_4 input[type=text],
.block_4 input[type=email],
.block_4 input[type=date],
.block_4 select,
.block_4 input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block_4 textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.block_4 label {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block_4 .radio {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block_4 label:hover {
    color: #666;
}

.block_4 input[type=submit]:hover {
    background-color: rgb(134, 134, 134);
}

.foot {
    letter-spacing: 1px;
    background: #2c3e50;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}

.foot h3 {
    font-size: 50px;
    padding: 20px 0 0 0;
}

.foot h4 {
    font-size: 20px;
    padding: 0 0 20px;
}

.foot h3,
.foot h4 {
    margin-left: 50px;
    width: 90%;
    text-align: center;
}

.foot a {
    color: #fff;
    text-decoration: underline;
    line-height: 20%;
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .slide {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .content {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: 17px;
        /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box;
        /* So the width will be 100% + 17px */
    }
    header {
        display: flex;
        flex-direction: column;
    }
    header img {
        width: 30%;
        float: left;
    }
    header h1 {
        font-weight: 100%;
    }
    header h3 {
        font-weight: 100%;
    }
    header h1,
    header h3 {
        font-size: auto;
        margin: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    header nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin: 0 0 0 0;
        padding: 20px 0 20px 0;
        border: 1px groove#fff;
    }
    .block_1 {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 100%;
        padding: 0;
    }
    .block_2 {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100%;
        padding: 0;
    }
    .block_3 {
        display: flex;
        flex-direction: column;
        order: 4;
        width: 100%;
        padding: 0;
    }
    .block_4 {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 3;
    }
    .foot h3,
    .foot h4 {
        font-size: 100%;
        margin: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}